/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    macros {
        macro_declare_assign: macro_declare_assign {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp EQUAL>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        
        // Special behavior for SHIFT - more responsive
        hms: homerow_mods_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // Shorter for shift
            quick-tap-ms = <175>;
            require-prior-idle-ms = <80>;  // Much shorter for shift
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        
        combo_lbkt {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp LBKT>;
        };
        
        combo_rbkt {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp RBKT>;
        };
        
        combo_lpar {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp LPAR>;
        };
        
        combo_rpar {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp RPAR>;
        };
        
        combo_lbrc {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp LBRC>;
        };
        
        combo_rbrc {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp RBRC>;
        };
        
        combo_capsword {
            timeout-ms = <50>;
            key-positions = <15 20>;
            bindings = <&caps_word>;
        };

        combo_layer3 {
            timeout-ms = <50>;
            key-positions = <37 38>;
            bindings = <&mo 4>;
        };

        colemak_toggle { 
            timeout-ms = <50>;
            key-positions = <36 41>;
            bindings = <&tog 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
   &kp TAB      &kp Q         &kp W         &kp E             &kp R         &kp T         &kp Y         &kp U         &kp I             &kp O               &kp P           &kp BSLH
   &kp EQUAL    &hm LGUI A    &hm LALT S    &hms LSHIFT D     &hm LCTRL F   &kp G         &kp H         &hm RCTRL J   &hms RSHIFT K     &hm RALT L          &hm RGUI SEMI   &kp SQT
   &kp GRAVE    &kp Z         &kp X         &kp C             &kp V         &kp B         &kp N         &kp M         &kp COMMA         &kp DOT             &kp FSLH        &kp MINUS
                                            &mo 2             &kp BSPC      &kp ESC       &kp RET       &kp SPACE     &mo 3
            >;
        };

        colemak {
            display-name = "Colemak";
            bindings = <
   &kp TAB      &kp Q         &kp W         &kp F             &kp P         &kp B         &kp J         &kp L         &kp U             &kp Y               &kp SEMI        &kp BSLH
   &kp EQUAL    &hm LGUI A    &hm LALT R    &hms LSHIFT S     &hm LCTRL T   &kp G         &kp M         &hm RCTRL N   &hms RSHIFT E     &hm RALT I          &hm RGUI O      &kp SQT
   &kp GRAVE    &kp Z         &kp X         &kp C             &kp D         &kp V         &kp K         &kp H         &kp COMMA         &kp DOT             &kp FSLH        &kp MINUS
                                            &mo 2             &kp BSPC      &kp ESC       &kp RET       &kp SPACE     &mo 3
            >;
        };

        lower_layer {
            display-name = "Numbers";
            bindings = <
   &trans       &trans        &trans        &trans            &trans        &trans        &trans        &kp N7        &kp N8            &kp N9              &trans          &trans
   &trans       &kp EXCL      &kp AT        &kp HASH          &kp DLLR      &trans        &kp PLUS      &kp N4        &kp N5            &kp N6              &kp KP_MULTIPLY &trans
   &trans       &kp CARET     &kp AMPS      &kp KP_MULTIPLY   &kp PRCNT     &trans        &kp MINUS     &kp N1        &kp N2            &kp N3              &kp FSLH        &trans
                                            &trans            &trans        &trans        &kp EQUAL     &kp N0        &kp DOT
            >;
        };

        raise_layer {
            display-name = "System";
            bindings = <
   &bt BT_SEL 0 &trans        &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &trans        &trans        &trans        &trans            &trans              &trans          &trans
   &bt BT_SEL 1 &trans        &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &trans        &kp LEFT      &kp DOWN      &kp UP            &kp RIGHT           &trans          &trans
   &trans       &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans            &trans              &trans          &trans
                                            &trans            &trans        &trans        &trans        &trans        &trans
            >;
        };

        limited_hrm {
            display-name = "Unreal";
            bindings = <
   &kp TAB      &kp Q         &kp W         &kp E             &kp R         &kp T         &kp Y         &kp U         &kp I             &kp O               &kp P           &kp BSLH
   &kp EQUAL    &kp A         &kp S         &hms LSHIFT D     &kp F         &kp G         &kp H         &kp J         &hms RSHIFT K     &kp L               &kp SEMI        &kp SQT
   &kp GRAVE    &kp Z         &kp X         &kp C             &kp V         &kp B         &kp N         &kp M         &kp COMMA         &kp DOT             &kp FSLH        &kp MINUS
                                            &mo 2             &kp BSPC      &kp ESC       &kp RET       &kp SPACE     &mo 3
            >;
        };
    };
};
